﻿@model string

<div class="jumbotron">



    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Welcome, @User.Identity.Name</h1>

        <p>
            @foreach (var claim in Context.User.Claims)
            {
                <div>@claim.Type: <b>@claim.Value</b></div>
            }
        </p>

        <form action="~/" method="post">
            <button class="btn btn-lg btn-warning" type="submit">Query the resource controller</button>
        </form>

        <a class="btn btn-lg btn-danger" href="/signout">Đăng xuất</a>
    }

    else
    {
        <h1>Chào mừng đến với EMS Portal</h1>
        <a class="btn btn-lg btn-success" href="/signin">Đăng nhập</a>
    }
</div>