﻿@model UpdateViewModel


@{
    ViewData["Title"] = "DetailAccount";
}

@{
    Layout = "_LayoutLogin";
}


<div class="header-sub">
    <a href="/Home/Index"><img src="~/EMS/images/home-q/logo_ft.png" alt=""></a>
    <ul>
        <li>
            <a href="/Account/DetailAccount">
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    @User.Identity.Name
                }
            </a>
        </li>
        <li class="my-account">
            <a href="javascrip:void(0)">
                <img class="avarta" src="~/EMS/images/home-q/avatar.png" alt="">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu">
                <a href="/Account/DetailAccount">Tài khoản</a>
                <a href="/Account/Login">Đăng xuất</a>
            </div>
        </li>
    </ul>
</div>
<div class="wrapper_account">
    <div class="left">
        <div class="text-title">Cấu hình tài khoản</div>
        <div class="_item js-active"><img src="~/EMS/images/home-q/ic1.svg" alt="">Thông tin khách hàng</div>
        <div class="_item"><img src="~/EMS/images/home-q/ic2.svg" alt="">Cấu hình địa chỉ lấy hàng</div>
        <div class="_item"><img src="~/EMS/images/home-q/ic3.svg" alt="">Cấu hình nhân viên</div>
        <div class="_item"><img src="~/EMS/images/home-q/ic4.svg" alt="">Tùy chọn tạo đơn</div>
    </div>
    <div class="right">
        <div class="tab-content">
            <form asp-controller="Account" asp-action="DetailAccount" asp-route-returnUrl="@ViewData["returnUrl"]" method="post" class="form-horizontal" role="form">
                <div class="_title">Thông tin tài khoản</div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="wrap_item">
                    <div class="_item">
                        <p>Tên khác hàng, công ty</p>
                        <input asp-for="FullName" placeholder="Nhập tên" />
                    </div>
                    <div class="_item">
                        <p>Ngày sinh</p>
                        <input type="" name="" placeholder="Chọn ngày sinh">
                    </div>
                    <div class="_item">
                        <p>Số điện thoại</p>
                        <input asp-for="PhoneNumber" placeholder="Nhập tên" />
                    </div>
                    <div class="_item">
                        <p>Email</p>
                        <input asp-for="Email" placeholder="Nhập tên" readonly="readonly" />
                    </div>
                    <div class="_item">
                        <p>Chứng minh thư/ Mã số thuế</p>
                        <input type="number" name="" placeholder="Nhập địa chỉ">
                    </div>
                    <div class="_item">
                        <p>Địa chỉ thường trú/ Địa chỉ xuất hóa đơn</p>
                        <input type="" name="" placeholder="Nhập tên">
                    </div>
                </div>
                <div class="wrap-select">
                    <div class="_items">
                        <p>Thành phố</p>
                        <select>
                            @foreach (var item in Model.ListProvice)
                            {
                                <option value="@item.ProvinceName">@item.ProvinceName</option>
                            }
                 
                        </select>
                    </div>
                    <div class="_items">
                        <p>Quận/ Huyện</p>
                        <select>
                            <option value="">Quận/ Huyện</option>
                            <option value="">Quận/ Huyện</option>
                        </select>
                    </div>
                    <div class="_items">
                        <p>Phường xã</p>
                        <select>
                            <option value="">Phường xã</option>
                            <option value="">Phường xã</option>
                        </select>
                    </div>
                </div>
                <div class="configuration">
                    <div class="_title">Cấu hình cho khách hàng doanh nghiệp</div>
                    <div class="_item">
                        <p>URL nhận hành trình</p>
                        <input type="text" name="" placeholder="Nhập nội dung">
                    </div>
                    <div class="_item">
                        <p>Tham số bí mật</p>
                        <input type="text" name="" placeholder="Nhập nội dung">
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-success">Cập nhật</button>
                @*<button class="btn-label" name="button" value="">Cập nhật</button>*@

            </form>
            @*<form action="">

                </form>*@
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('.my-account').click(() => {
            $('.dropdown-menu').slideToggle(100);
        })

        $(document).click(function (e) {
            var container = $('.my-account');
            if (!container.is(e.target) // if the target of the click isn't the container...
                && container.has(e.target).length === 0) // ... nor a descendant of the container
            {
                $('.my-account .dropdown-menu').slideUp(100);
            }
        })
    })
</script>