﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Log in";
}


@{ 
    Layout = "_LayoutLogin";
}

<style>
    .col-xs-12 {
        width: 100%;
    }
</style>



<div class="header-sub">
    <a href="/Home/Index"><img src="~/EMS/images/home-q/logo_ft.png" alt=""></a>
</div>

<div class="wrapper_container" style="background-image: url(../EMS/images/home-q/backg-login.png);">

    <div class="wrap">
        <div class="wrap_title">Đăng nhập</div>
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <div class="_item">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <p>Số điện thoại/ Email</p>
                    <div class="wrap_input">
                        <input asp-for="Email" class="form-control" placeholder="Số điện thoại/ Email" />
                        @*<span asp-validation-for="Email" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="_item">
                    <p>Mật khẩu</p>
                    <div class="wrap_input">
                        <input asp-for="Password" id="Password" class="form-control pass" placeholder="Nhập mật khẩu" /> <div id="view" class="view-password"><img src="../EMS/images/home-q/view.png" alt=""></div>
                        @*<span asp-validation-for="Password" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="login-btn but">
                    <button class="btn-label" name="button" value="login">Đăng nhập</button>
                </div>
                <div class="forget_password">
                    <a asp-action="ForgotPassword">Quên mật khẩu?</a>
                </div>

                <div class="or-api-social">
                    <div class="or-title">Hoặc đăng nhập qua</div>
                </div>

            </form>
        </section>

      
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form" id="ExternalLogin">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {

                                    if (provider.Name == "Google")
                                    {
                                        <div class="login-btn google">
                                            @*<a href="#" class="btn-label" onclick="document.getElementById('ExternalLogin').submit();"><i class="fa fa-google-plus" aria-hidden="true"></i> Google</a>*@

                                            <button type="submit" class="btn-label" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-google-plus" aria-hidden="true"></i>@provider.Name</button>
                                        </div>


                                    }
                                    else if (provider.Name == "Facebook")
                                    {
                                        <div class="login-btn face">
                                            @*<a href="javascript:void(0)" class="btn-label" onclick="document.getElementById('ExternalLogin').submit();"><i class="fa fa-facebook" aria-hidden="true"></i> facebook</a>*@
                                            <button type="submit" class="btn-label" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-facebook" aria-hidden="true"></i>@provider.Name</button>
                                        </div>
                                    }

                                   
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        

        <form>
            <div class="registration">
                Bạn chưa có tài khoản. <a asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]">Đăng ký ngay</a>
            </div>
        </form>


    </div>




    @*<div class="row" style="margin: 0;">
        <div class="col-xs-12">
            <div class="logon-ui">
                <div class="form-group text-center" style="font-weight:bold">
                    <h3><strong>HỆ THỐNG EMSKT</strong></h3>
                </div>
                <div class="col-md-12">
                    <section>
                        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                            <h4>Đăng nhập bằng tài khoản.</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="col-md-12 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="col-md-12 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        <input asp-for="RememberMe" />
                                        <label asp-for="RememberMe"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default">Log in</button>
                                </div>
                            </div>
                            <p>
                                <a asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]">Đăng ký tài khoản?</a>
                            </p>
                            <p>
                                <a asp-action="ForgotPassword">Quên mật khẩu?</a>
                            </p>
                        </form>
                    </section>
                </div>
                <div class="col-md-12">
                    <section>
                        <h4>Đăng nhập bằng các kênh.</h4>
                        <hr />
                        @{
                            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                            if (loginProviders.Count == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                                    <div>
                                        <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                </div>
            </div>
        </div>

    </div>*@
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


<script type="text/javascript">
		jQuery(document).ready(function($){
			var viewPass = document.getElementById("view");
			viewPass.addEventListener('click', ren);
			function ren(){
                var textPass = document.getElementById("Password");
				switch(textPass.type) {
					case 'password':
						textPass.type = "text";
						viewPass.classList.add('js-view')
						break;
					case 'text':
						textPass.type = "password"
						viewPass.classList.remove('js-view')
						break;
				}
			}
		})
</script>