﻿@model LogoutViewModel

@{
    Layout = "_LayoutLogin";
}


<script src="~/scripts/jquery-1.9.0.js"></script>

<div class="header-sub">
    <a href="/Home/Index"><img src="~/EMS/images/home-q/logo_ft.png" alt=""></a>
</div>


<div class="wrapper_container" style="background-image: url(../EMS/images/home-q/backg-login.png);">

    <div class="wrap" style="max-width: 600px">
        <div class="wrap_title">Đăng xuất</div>

        <div class="_item">

            <p class="lead text-left">Bạn có chắc chắn muốn đăng xuất?</p>
            <div class="wrap_input">
                <form asp-controller="Authorization" asp-action="Logout" method="post">
                    <input type="hidden" name="request_id" value="@Model.RequestId" />
                    <input class="btn btn-lg btn-success" name="Confirm" type="submit" value="Yes" />
                </form>
            </div>
        </div>
    </div>
</div>



@*<div class="jumbotron">
    <h1>Log out</h1>
    <p class="lead text-left">Are you sure you want to sign out?</p>
    <form asp-controller="Authorization" asp-action="Logout" method="post">
        <input type="hidden" name="request_id" value="@Model.RequestId" />
        <input class="btn btn-lg btn-success" name="Confirm" type="submit" value="Yes" />
    </form>
</div>*@