﻿@model ApplicationUser

@{
    ViewData["Title"] = "Home Page";
}


@{
    Layout = "_LayoutLogin";


    
}

<div class="header">
    <div class="top1">
        <ul class="left">
        </ul>
        <ul class="right">
            <li><a href="tel:1900545433"><span><img src="../EMS/images/home-q/headphones.png" alt=""></span>1900 54 54 33</a></li>
            <li>
                <form action="">
                    <button type="submit" class="submit"><img src="../EMS/images/home-q/search.png" alt=""></button>
                    <input type="text" name="search" id="" class="input" placeholder="Tìm kiếm">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                            <a href="/Account/DetailAccount"><span style="color: #fff;">@User.Identity.Name</span></a> 
                    }

                </form>
            </li>
        </ul>
    </div>
    <div class="top2">
        <a class="logo" href="#"><img src="../EMS/images/home-q/logo.png" alt=""></a>
        <ul>
            <li class="item is-active js-active"><a href="#">trang chủ</a></li>
            <li class="item"><a href="#">giới thiệu</a></li>
        </ul>
        @if (User.Identity!=null && User.Identity.IsAuthenticated)
        {
            <a class="log-in" href="/Account/LogOut">Đăng xuất <span><img src="../EMS/images/home-q/login.png" alt=""></span></a>
        }
        else
        {
            <a class="log-in" href="/Account/Login">đăng nhập <span><img src="../EMS/images/home-q/login.png" alt=""></span></a>
        }


    </div>

    <div class="header-mobile">
        <a class="logo" href="#"><img src="./assets/images/home-q/logo.png" alt=""></a>
        <a class="log-in" href="/Account/Login">đăng nhập <span><img src="../EMS/images/home-q/login.png" alt=""></span></a>
    </div>

</div>

<div class="social-mobile">
    <div class="s-mb-items humbuger-x">
        <div class="item-icon">
            <span class="line-top"></span>
            <span class="line-center"></span>
            <span class="line-bot"></span>
        </div>
        <div class="item-text">MENU</div>
    </div>
    <div class="items-social">
        <ul>
            <li><a href="tel:1900545433"><span><img src="../EMS/images/home-q/headphones2.png" alt=""></span>1900 54 54 33</a></li>
            <li class="slilde-lang-mobile">
                <a class="sub_lang_mobile" href="javascript:void(0)"><span><img src="../EMS/images/home-q/language2.png" alt=""></span>VN</a>
                <ul class="lang-mobile">
                    <li><a href="javascript:void(0)">VN</a></li>
                    <li><a href="javascript:void(0)">EN</a></li>
                </ul>
            </li>
            <li>
                <a class="search" href="javascrip:void(0);"><img src="../EMS/images/home-q/search2.png" alt=""></a>
            </li>
        </ul>
    </div>
</div>

<div class="menu-mobile">
    <ul>
        <li>
            <a href=""><img src="./assets/images/home-q/logo.png" alt=""></a>
        </li>
        <li><a href="">trang chủ</a></li>
        <li><a href="">giới thiệu</a></li>
        <li><a href="">dịch vụ</a></li>
        <li><a href="">giá cước</a></li>
        <li><a href="">tra cúu</a></li>
        <li><a href="">quan hệ cổ đông</a></li>
        <li><a href="">tin tức</a></li>
        <li><a href="">trợ giúp</a></li>
        <li><a href="">tuyển dụng</a></li>
        <li><a href="">liên hệ</a></li>
        <li>
            <form action="">
                <div class="search">
                    <button type="submit" class="submit"><img src="../EMS/images/home-q/search.png" alt=""></button>
                    <input type="text" name="search" id="" class="input" placeholder="">
                </div>
            </form>
        </li>
    </ul>
</div>
<div class="humbuger"></div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(window).scroll(function (event) {
            var y = $(this).scrollTop();
            if (y > 0) {
                $('.header').addClass('js-scroll-header');
            } else {
                $('.header').removeClass('js-scroll-header');
            }
        });

        var lastScrollTop = 0;
        $(window).scroll(function () {
            var currentScrollTop = $(this).scrollTop() + 1;
            if (currentScrollTop < lastScrollTop) {
                $('.header').addClass('_hidden-menu');
                $('.header').removeClass('_visible-menu');
            } else {
                $('.header').removeClass('_hidden-menu');
                $('.header').addClass('_visible-menu');
            }
            if ($(this).scrollTop() <= 0) {
                $('.header').addClass('_hidden-menu');
                $('.header').removeClass('_visible-menu');
            }
            lastScrollTop = currentScrollTop;
        });


        $('.humbuger-x').click(function (event) {
            $(this).toggleClass('is-active-humbuger');
            $('.menu-mobile').toggleClass('js-active-menu');
            $('body').toggleClass('js-fix-scroll');
        });

        $('.items-social .search').click(function (event) {
            $('.humbuger-x').toggleClass('is-active-humbuger');
            $('.menu-mobile').toggleClass('js-active-menu');
            $('body').toggleClass('js-fix-scroll');
        });

        $('.top2 ul .item').hover(function () {
            $('.top2 ul li').removeClass('js-active');
            $(this).addClass('js-active');

        }, function () {
            $('.top2 ul li').removeClass('js-active');
            $('.top2 ul li.is-active').addClass('js-active');
        });

        $('.header .top1 .right > li ul li a').click(function () {
            $('.header .top1 .right > li .sub_lang').html(`<span><img src="../EMS/images/home-q/language.png" alt=""></span>${$(this).html()}`);
        });

        $('.header .top1 .right .slide_lang').click(() => {
            $('.lang').slideToggle(100);
        })

        $('.slilde-lang-mobile').click(() => {
            $('.lang-mobile').slideToggle(200);
        })

        $('.lang-mobile a').click(function () {
            $('.sub_lang_mobile').html(`<span><img src="../EMS/images/home-q/language2.png" alt=""></span>${$(this).html()}`);
        });
    });
</script>



<div class="page-home">

    <div class="section1">
        <div class="slide-banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="_image" style="background-image: url('../EMS/images/home-q/banner.png');">
                        </div>
                        <div class="text-banner">
                            <div class="sub-title">
                                SMS việt nam
                            </div>
                            <div class="title">Nhanh chóng - An toàn</div>
                            <div class="content">
                                The collapse of the online-advertising market in 2001 made marketing on the Internet seem even less compelling. Website usability, press releases, online media buys, podcasts.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="_image" style="background-image: url('../EMS/images/home-q/banner.png');">
                        </div>
                        <div class="text-banner">
                            <div class="sub-title">
                                SMS việt nam
                            </div>
                            <div class="title">Nhanh chóng - An toàn</div>
                            <div class="content">
                                The collapse of the online-advertising market in 2001 made marketing on the Internet seem even less compelling. Website usability, press releases, online media buys, podcasts.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="_image" style="background-image: url('../EMS/images/home-q/banner.png');">
                        </div>
                        <div class="text-banner">
                            <div class="sub-title">
                                SMS việt nam
                            </div>
                            <div class="title">Nhanh chóng - An toàn</div>
                            <div class="content">
                                The collapse of the online-advertising market in 2001 made marketing on the Internet seem even less compelling. Website usability, press releases, online media buys, podcasts.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s1-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="billing" data-aos="fade-right" data-aos-duration="1000">
            <form action="">
                <div class="title"><span><img src="../EMS/images/home-q/icon-shipping.png" alt=""></span>Tra cứu vận đơn</div>
                <div class="search">
                    <input type="text" name="search" id="" class="input" placeholder="Nhập mã số vận đơn...">
                    <button type="submit" class="submit"><img src="../EMS/images/home-q/icon-search.png" alt=""></button>
                </div>
                <div class="content">
                    <a class="item" href="#">
                        <div class="icon-item"><img src="../EMS/images/home-q/icon-bill.png" alt=""></div>
                        <div class="text-item">tính cước</div>
                    </a>
                    <a class="item" href="#">
                        <div class="icon-item"><img src="../EMS/images/home-q/icon-place.png" alt=""></div>
                        <div class="text-item">tìm kiếm bưu cục</div>
                    </a>
                </div>
                <div class="support">
                    <a href="#">tra cứu nhiều vận đơn</a>
                    <a href="#">cần hỗ trợ ?</a>
                </div>
            </form>
        </div>
    </div>

</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var slideBanner = new Swiper('.slide-banner .swiper-container', {
            speed: 1200,
            loop: true,
            pagination: {
                el: '.s1-pagination .swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 5000,
            },
        });
    });
</script>
