﻿@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.main-panel {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('../img/loginBg.jpg');
    /*background-image: url('/img/loginBg.jpg');*/
    background-size: cover;
}

.footer {
    margin-top: 160px;
    background: #00458a;
    color: #fff;
    padding: 20px 15px;
}
/*Q*/
.logon-ui {
    position: relative;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    width: 300px;
    height: auto;
    background: #eef0f1;
    border-radius: 7px !important;
    margin-top: 50px !important;
    margin-bottom: 80px !important;
    padding: 0 40px 20px 40px;
}

.logon-ui2 {
    position: relative;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    /*width: 435px;*/
    width: 450px;
    height: auto;
    background: rgb(239, 240, 242);
    border-radius: 7px !important;
    margin-top: 150px !important;
    margin-bottom: 78px !important;
    padding: 0px 35px 20px 35px;
}

.txt-right {
    text-align: right;
    padding-right: 3px;
    margin-top: 3px;
}

.txt-left {
    text-align: left;
    padding-left: 3px;
    margin-top: 3px;
}

.logon-ui .logon-header {
    background-size: cover;
    min-height: 38px !important;
    border-bottom: 1px solid #C3C3C3;
}

input[type="text"], input[type="password"] {
    color: #004c94;
    background: none;
    /*border: none !important;*/
    padding: 0px 10px;
    font-size: 16px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.logon-ui h4.logon-title {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.logon-ui .logon-logo {
    text-align: center;
    height: 220px;
    padding: 8px 0px;
}

.logon-ui .logon-desc {
    text-align: center;
    line-height: 25px;
    height: 70px;
}

.logon-ui .logon-form {
    padding: 0px 15px !important;
}

.logon-ui .logon-toolbar {
    background-size: cover;
    min-height: 35px !important;
    border-top: 1px solid #C3C3C3;
    padding: 10px 0px;
    margin-bottom: 0px !important;
}

.logon-ui .validation-summary-errors ul li {
    width: 100%;
    color: red !important;
    list-style-type: none;
}

.logon-toolbar .forgot-pass, .logon-toolbar .ready-login {
    padding: 8px 0px 0 12px;
}

.logon-ui img {
    width: 100%;
}

.logon-ui input[type="text"], .logon-ui input[type="password"] {
    width: 100%;
    line-height: 20px;
    background: #faffbd;
    border-radius: 5px !important;
}

.logon-ui .col-md-12 {
    padding: 0px;
}
/*Q*/
.mgt23 {
    /*margin-top: 23px; margin-bottom: 40px;*/
    margin-top: 10px;
    margin-bottom: 20px;
}

#btnLogin {
    width: 85%;
    line-height: 20px;
    text-transform: uppercase;
    background: #fcaf17;
    border-radius: 5px !important;
    font-size: 15px;
    padding: 8px 0;
}

#btnLogin2 {
    width: 85%;
    line-height: 20px;
    text-transform: uppercase;
    background: #fcaf17;
    font-size: 15px;
    padding: 8px 10px;
    color: #fff;
}

.logon-ui .text-center {
    padding: 0px;
}

.logon-ui .text-right {
    text-align: left !important;
    line-height: 38px;
    display: inline-block;
}

    .logon-ui .text-right a {
        /*color: rgb(233,27,39);*/
        color: #333;
    }

#helpAndSupport {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 18px;
    margin-top: 30px;
}

    #helpAndSupport a {
        display: inline-block;
        color: rgb(10, 68, 152);
        font-size: 13px;
        margin-bottom: 6px;
        font-weight: bold
    }
    .displayBl{ display: block;color: rgb(10, 68, 152); font-size: 13px;}

#copyRight {
    text-align: center;
    width: 100%;
    color: rgb(121, 122, 124);
    display: block;
    display: inline-block;
}

a.button, a.button2{
    font-size:1.0em !important
}