.home_contact{
    ._content{
        background: #F5821F;
        padding: 155px percentage(180/1440) 47px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        @media(max-width: 1024px){
            padding: 155px 30px 47px;
        }
        @media(max-width: 768px){
            display: block;
        }
        @media(max-width: 480px){
            padding: 155px 15px 30px;      
        }
        ._left{
            width: 45%;
            color: #ffffff;
            @media(max-width: 768px){
                width: 100%;
            }
            ._title{
                font-family: 'Noto Sans', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 36px;
                letter-spacing: 0.4px;
                margin-bottom: 4px;
                @media(max-width: 768px){
                    text-align: center;
                }
                @media(max-width: 480px){
                    font-size: 20px;
                    line-height: 28px;
                }
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 38px;
                letter-spacing: 0.4px;
                mix-blend-mode: normal;
                opacity: 0.75;
                margin-bottom: 0;
                @media(max-width: 768px){
                    text-align: center;
                }
                @media(max-width: 480px){
                    font-size: 13px;
                    line-height: 23px;   
                }
            }
        }
        ._right{
            width: 55%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            @media(max-width: 1024px){
                -webkit-box-pack: end;
                    -ms-flex-pack: end;
                        justify-content: flex-end;
            }
            @media(max-width: 768px){
                width: 100%;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                margin-top: 20px;
            }
            form{
                position: relative;
                width: 100%;
                @media(max-width: 1024px){
                    width: auto;
                    padding-right: 133px;
                }
                @media(max-width: 768px){
                    padding: 0;
                }
                @media(max-width: 480px){
                    width: 100%;
                }
                ._err_frm{
                    position: absolute;
                    bottom: -30px;
                    left: 138px;
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 28px;
                    color: #FFFFFF;
                    margin-right: 15px;
                    @media(max-width: 1024px){
                        left: 0;
                    }
                }
                .all_form{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    width: 100%;
                    -webkit-box-pack: end;
                        -ms-flex-pack: end;
                            justify-content: flex-end;
                    @media(max-width: 1024px){
                        position: relative;
                        display: block;
                    }
                    @media(max-width: 768px){
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                    }
                    @media(max-width: 480px){
                        display: block;  
                        text-align: center;   
                    }
                    label{
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 28px;
                        letter-spacing: 0.4px;
                        color: #FFFFFF;
                        margin-right: 15px;
                        margin-bottom: 0;
                        @media(max-width: 1024px){
                            display: block;
                            margin-right: 0;
                        }
                        @media(max-width: 768px){
                            display: initial;
                            margin-right: 10px;
                        }
                        @media(max-width: 480px){
                            display: none;
                        }
                    }
                    input[type="email"]{
                        width: 293px;
                        height: 42px;
                        outline: none;
                        padding: 7px 14px 9px;
                        background: rgba(255, 255, 255, 0.09);
                        border: none;
                        color: #ffffff;
                        font-family: 'Roboto', sans-serif;
                        font-size: 15px;
                        letter-spacing: 0.4px;
                        @media(max-width: 480px){
                            width: 100%; 
                        }
                        &::-webkit-input-placeholder{
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            letter-spacing: 0.4px;
                            color: #FFFFFF;
                            opacity: 0.38;
                        }
                        &:-ms-input-placeholder{
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            letter-spacing: 0.4px;
                            color: #FFFFFF;
                            opacity: 0.38;
                        }
                        &::-ms-input-placeholder{
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            letter-spacing: 0.4px;
                            color: #FFFFFF;
                            opacity: 0.38;
                        }
                        &::placeholder{
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            letter-spacing: 0.4px;
                            color: #FFFFFF;
                            opacity: 0.38;
                        }
                    }
                    .submit{
                        width: 133px;
                        height: 42px;
                        background: #ffffff;
                        color: #F5821F;
                        border: none;
                        font-family: 'Noto Sans', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 18px;
                        text-align: center;
                        letter-spacing: 0.4px;
                        text-transform: uppercase;
                        outline: none;
                        @media(max-width: 1024px){
                            position: absolute;
                            bottom: 0;
                            right: -133px;
                        }
                        @media(max-width: 768px){
                            position: initial;
                        }
                        @media(max-width: 480px){
                            margin-top: 10px;
                        }
                        
                    }
                }
            }
        }   
    }
}

footer{
    ._ft_top{
        padding: 0 percentage(120/1440);
        height: 73.35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: 1px solid #191f251a;
        @media(max-width: 1024px){
            padding: 0px 30px;
        }
        @media(max-width: 480px){
            padding: 45px 15px 0;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            height: auto;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
        }
        img{
            @media(max-width: 480px){
                margin-bottom: 30px;
            }
        }
        ._social_ft{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            width: 100%;
            margin-bottom: 0;
            @media(max-width: 480px){
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }
            li{
                height: 100%;
                width: 84px;
                border-left: 1px solid #191f251a;
                text-align: center;
                line-height: 73.35px;
                &:last-child{
                    border-right: 1px solid #191f251a;
                }
                a{
                    color: #F5821F;
                    font-size: 22px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    &:hover{
                        i{
                            -webkit-animation-name: social_rotate;
                                    animation-name: social_rotate;
                            -webkit-animation-duration: 0.5s;
                                    animation-duration: 0.5s;
                            -webkit-animation-iteration-count: 1;
                                    animation-iteration-count: 1;
                        }
                    }
                }
            }
        }
    }

    ._ft_between{
        padding: 60px percentage(120/1440) 48px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #191f251a;
        @media(max-width: 1024px){
            padding: 60px 30px 48px;
        }
        @media(max-width: 768px){
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }
        @media(max-width: 480px){
            padding: 30px 15px;
        }
        ._item{
            padding-right: 20px;
            @media(max-width: 480px){
                margin-bottom: 20px;
                padding-right: 0;
            }
            ._title{
                font-family: 'Noto Sans', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 28px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #F5821F;
                margin-bottom: 20px;
                @media(max-width: 480px){
                    margin-bottom: 10px;
                    letter-spacing: .1px;
                }
            }

            ul{
                margin-bottom: 0;
                li{
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 550;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.28px;
                    color: #00172E;
                    mix-blend-mode: normal;
                    opacity: 0.68;
                    margin-bottom: 13px;
                    a{
                        color: #00172E;
                        text-decoration: none;
                    }
                }
            }
            &:nth-of-type(1){
                width: percentage(432/1200);
                @media(max-width: 768px){
                    -webkit-box-ordinal-group: 2;
                        -ms-flex-order: 1;
                            order: 1;
                    width: 70%;
                }
                @media(max-width: 480px){
                    width: 100%;
                }
                ul{
                    li{
                        p{
                            margin-bottom: 0;
                            display: inline-block;
                            &:nth-of-type(1){
                                margin-right: 25px;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(2){
                width: percentage(408/1200);
                @media(max-width: 768px){
                    -webkit-box-ordinal-group: 4;
                        -ms-flex-order: 3;
                            order: 3;
                    width: 70%;
                }
                @media(max-width: 480px){
                    width: 100%;
                    -webkit-box-ordinal-group: 3;
                        -ms-flex-order: 2;
                            order: 2;
                }
                ul{
                    -webkit-column-count: 2;
                            column-count: 2;
                }
            }
            &:nth-of-type(3){
                width: percentage(182/1200);
                @media(max-width: 768px){
                    -webkit-box-ordinal-group: 3;
                        -ms-flex-order: 2;
                            order: 2;
                    width: 30%;
                }
                @media(max-width: 480px){
                    -webkit-box-ordinal-group: 4;
                        -ms-flex-order: 3;
                            order: 3;
                    width: 50%;
                }
            }
            &:nth-of-type(4){
                width: 100% - percentage(1022/1200);
                @media(max-width: 768px){
                    -webkit-box-ordinal-group: 5;
                        -ms-flex-order: 4;
                            order: 4;
                    width: 30%;
                }
                @media(max-width: 480px){
                    width: 50%;
                }
            }
        }
    }

    ._ft_bottom{
        height: 117px;
        padding: 0 percentage(120/1440);
        line-height: 117px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        letter-spacing: 0.433333px;
        color: #191F25;
        @media(max-width: 1024px){
            padding: 0px 30px;
        }
        @media(max-width: 768px){
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            line-height: 30px;
            height: auto;
            padding: 20px 30px;
        }
        @media(max-width: 480px){
            padding: 20px 15px;
        }
        ._copyright{
            opacity: 0.3;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            float: left;
            @media(max-width: 768px){
                float: none;
                width: 100%;
                margin-bottom: 7px;
            }
            @media(max-width: 480px){
                line-height: 22px;
                margin-bottom: 10px;
            }
        }
        ul{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            float: right;
            margin-bottom: 0;
            @media(max-width: 768px){
                float: none;
                width: 100%;
            }
            li{
                padding: 0 12px;
                &:nth-of-type(1){
                    @media(max-width: 768px){
                        padding-left: 0;
                    }
                }
                a{
                    color: #191F25;
                    opacity: 0.3;
                    text-decoration: none;
                }
            }
        }
    }
}

@-webkit-keyframes social_rotate{
    0%{
        -webkit-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
    50%{
        -webkit-transform: rotate(25deg) scale(1.1);
                transform: rotate(25deg) scale(1.1);
    }
    100%{
        -webkit-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
}

@keyframes social_rotate{
    0%{
        -webkit-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
    50%{
        -webkit-transform: rotate(25deg) scale(1.1);
                transform: rotate(25deg) scale(1.1);
    }
    100%{
        -webkit-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
}