ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
	&.js-fix-scroll{
		overflow-y: hidden;
	}
}
.header{
	padding-right: 120px;
	padding-left: 120px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	transition: 0.3s;
	padding-bottom: 30px;
	transform: translateY(0);
	animation: header_desktop 1.9s forwards;
	@include mediaMaxWidth(1200px){
		padding-left: 30px;
		padding-right: 30px
	}
	@include mediaMaxWidth(1024px){
		padding-bottom: 10px;
	}
	@include mediaMaxWidth(480px){
		padding-left: 15px;
		padding-right: 15px;
	}
	&.js-scroll-header{
        background-color: rgb(214, 99, 0);
        padding-bottom: 0px;
        @include mediaMaxWidth(1024px){
        	padding-bottom: 10px;
        }
	}
	.top1{
		padding-top: 20px;
		padding-bottom: 10px;
		border-bottom: solid 1px rgba(255, 255, 255, 0.3);
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mediaMaxWidth(1024px){
			display: none;
		}
		.left{
			list-style-type: none;
			display: flex;
			align-items: center;
			margin-bottom: 0;
			li{
				display: block;
				padding-right: 20px;
				// padding-left: 20px;
				position: relative;
				a{
					text-decoration: none;
					color: #fff;
					font-family: 'Noto Sans', sans-serif;
					// font-weight: bold;
					line-height: 19px;
				    opacity: 0.8;
				    font-size: 13px;
				}
			}
		}
		.right{
			list-style-type: none;
			display: flex;
			align-items: center;
			margin-bottom: 0;
			>li{
				display: block;
				padding-right: 20px;
				padding-left: 20px;
				position: relative;
				&:nth-child(1){
					a{
						font-weight: bold;
						opacity: 1;
					}
				}
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 1px;
					height: 19px;
					background-color: rgba(255, 255, 255, 0.3)
				}
				>a{
					text-decoration: none;
					color: #fff;
					font-family: 'Noto Sans', sans-serif;
					// font-weight: bold;
					line-height: 19px;
					opacity: 0.8;
				    font-size: 13px;
					span{
						padding-right: 9px;
					}
				}
				ul{
					padding: 0;
				    margin: 0;
				    position: absolute;
				    z-index: 5;
				    width: 100%;
				    top: 100%;
				    padding-top: 12px;
				    left: 0;
				    display: none;
				    li{
				    	a{
				    		display: block;
				    		text-decoration: none;
				    		font-family: 'Noto Sans', sans-serif;
				    		color: black;
				    		background-color: #fff;
				    		font-size: 13px;
				    		padding-left: 12px;
				    		line-height: 26px;
				    	}
				    }
				}
				form{
					.submit{
					    background: #fff0;
    					border: none;
					}
					.input{
					    transition: 0.3s;
					    padding-left: 10px;
					    width: 70px;
				        background: #f5821f00;
					    border: none;
					    color: #fff;
					    outline: 0;
					    &:focus{
					    	background: #f5821f;
					    	width: 170px;
					    }
					}
				    ::placeholder{
				    	color: #fff;
				    	opacity: 0.8;
				    	font-size: 13px;
				    	font-family: 'Noto Sans', sans-serif;
				    }
				}
				&:hover{
					form{
						.input{
						    // background: #f5821f;
							// width: 170px;
						 //    opacity: 1;
						}
					}
				}
			}
		}
	}
	.top2{
		display: flex;
		align-items: center;
	    justify-content: space-between;
	    // padding-top: 12px;
	    @include mediaMaxWidth(1024px){
			display: none;
		}
		.logo{
			display: block;
			width: 180px;
			@include mediaMaxWidth(1024px){
				width: 150px;
			}
			img{
				display: block;
				width: 100%;
				height: auto;
			}
		}
		ul{
			display: flex;
			margin-bottom: 0;
			li{
				display: block;
				padding-right: 32px;
				@include mediaMaxWidth(1200px){
					padding-right: 25px;
				}
				&:last-child{
					padding-right: 0;
				}
				a{
					text-decoration: none;
					display: block;
					color: #fff;
					text-transform: uppercase;
					font-family: 'Noto Sans', sans-serif;
					font-weight: bold;
					font-size: 13px;
					position: relative;
					line-height: 62px;
					@include mediaMaxWidth(1200px){
						font-size: 11px;
					}
					&:after{
					    content: "";
					    position: absolute;
					    transition: 0.3s;
					    width: 0;
					    left: 50%;
					    transform: translateX(-50%);
					    top: -1px;
					    height: 1px;
					    background-color: #fff;
					}
				}
				&.js-active{
					a:after{
					    // content: "";
					    // position: absolute;
					    // left: 0;
					    // top: -25px;
					    width: 100%;
					    // height: 2px;
					    // background-color: #f5821f;
					}
				}
			}
		}
		.log-in{
			font-family: 'Noto Sans', sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: #fff;
			display: block;
			width: 162px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 21px;
			position: relative;
			overflow: hidden;
			font-size: 13px;
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				background: #F5821F;
				width: 100%;
				height: 100%;
				z-index: -2;
			}
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				height: 40px;
				width: 10px;
			    background-color: rgba(255, 255, 255, 0.2);
				z-index: -1;
				opacity: 0;
				transition: 0.3s;
			}
			&:hover{
				&:before{
					width: 162px;
					opacity: 1;
					border-radius: 21px;
				}
			}
			span{
				padding-left: 10px;

			}
		}
	}
	.header-mobile{
		display: flex;
		justify-content: space-between;
		display: none;
		padding-top: 10px;
		@include mediaMaxWidth(1024px){
			display: flex;
			align-items: center;
		}
		.logo{
			display: block;
			width: 180px;
			@include mediaMaxWidth(1024px){
				width: 150px;
			}
			img{
				display: block;
				width: 100%;
				height: auto;
			}
		}
		.log-in{
			font-family: 'Noto Sans', sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: #fff;
			display: block;
			width: 162px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 21px;
			position: relative;
			overflow: hidden;
			font-size: 13px;
			@include mediaMaxWidth(480px){
				width: 125px;
				height: 36px;
				line-height: 36px;
				font-size: 12px;
				border-radius: 8px;
			}
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				background: #F5821F;
				width: 100%;
				height: 100%;
				z-index: -2;
			}
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				height: 40px;
				width: 10px;
			    background-color: rgba(255, 255, 255, 0.2);
				z-index: -1;
				opacity: 0;
				transition: 0.3s;
			}
			&:hover{
				&:before{
					width: 162px;
					opacity: 1;
				}
			}
			span{
				padding-left: 10px;
				@include mediaMaxWidth(480px){
					padding-left: 5px;
				}
			}
		}
	}
}
.social-mobile{
	position: fixed;
	z-index: 1000000;
	width: 100%;
	bottom: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	display: none;
	background-color: #f2801d;
	background-color: #d66300;
	align-items: center;
	@include mediaMaxWidth(1024px){
		display: block;
		display: flex;
	}
	.humbuger-x{
		&.is-active-humbuger{
			.item-icon{
				.line-center{
					width: 22px;
				}
			}
		}
	}
	.s-mb-items{
		width: calc(100% / 5);
		background-color: #d66300;
		background-color: #f2801d;
		padding-top: 12px;
		padding-bottom: 5px;
		display: block;
		text-decoration: none;
		color: #802226;
		.item-icon{
			height: 19px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			.line-top{
				width: 15px;
				height: 2px;
				background: #fff;
				position: absolute;
				top: 4px;
			}
			.line-center{
				width: 15px;
				height: 2px;
				background: #fff;
				transition: 0.3s;
			}
			.line-bot{
				width: 15px;
				height: 2px;
				background: #fff;
				position: absolute;
				bottom: 3px;
			}
		}
		.item-text{
			text-align: center;
			text-transform: uppercase;
			font-size: 10px;
			color: #fff;
			font-family: 'Roboto', sans-serif;
		    letter-spacing: 0.5px;
		}
	}
	.items-social{
		width: calc((100% / 5) * 4);
		>ul{
			list-style-type: none;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-bottom: 0;
			width: 100%;
			>li{
				display: block;
				padding-right: 20px;
				padding-left: 20px;
				position: relative;
				@include mediaMaxWidth(480px){
					padding-left: 10px;
					padding-right: 10px;
				}
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 1px;
					height: 19px;
					background-color: rgba(255, 255, 255, 0.3)
				}
				>a{
					text-decoration: none;
					color: #fff;
					font-family: 'Noto Sans', sans-serif;
					font-weight: bold;
					line-height: 19px;
					font-size: 14px;
					span{
						padding-right: 9px;
					}
					@include mediaMaxWidth(320px){
						font-size: 11px;
					}
				}
				.lang-mobile{
					display: none;
			        position: absolute;
				    bottom: 100%;
				    left: 0;
				    width: 100%;
				    font-size: 16px;
				    text-align: center;
				    background-color: #d66300;
				    margin-bottom: 14px;
				    font-family: "Noto Sans", sans-serif;
				    border-top-left-radius: 5px;
				    border-top-right-radius: 5px;
				    // border: solid 1px #fff;
				    border-bottom: none;
				    a{
						text-decoration: none;
						color: #fff;
						font-size: 14px;
				    }
				}
				form{
					.submit{
					    background: #fff0;
						border: none;
					}
					.input{
					    transition: 0.3s;
					    padding-left: 10px;
					    width: 70px;
					    opacity: 0;
					    background: #f5821f;
					    border: none;
					    color: #fff;
					    outline: 0;
					}
				}
				&:hover{
					form{
						.input{
							width: 170px;
						    opacity: 1;
						}
					}
				}
			}
		}
	}
}
.menu-mobile{
	position: fixed;
	z-index: 999999;
	background-color: #d66300;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
    transform: translate(-100%, -50px);
    &.js-active-menu{
    	transform: translate(0, -50px);
    }
	ul{
	    list-style-type: none;
	    margin-bottom: 0;
	    text-align: center;

		li{
			display: block;
    		margin-bottom: 20px;
    		&:nth-child(1){
    			margin-bottom: 40px;
    			a{
    				width: 200px;
    				margin-right: auto;
    				margin-left: auto;
    				img{
    					display: block;
    					width: 100%;
    					height: auto;
    				}
    			}
    		}
			a{
				display: block;
				text-decoration: none;
				color: #fff;
				font-family: 'Noto Sans', sans-serif;
				font-weight: bold;
				font-size: 16px;
				text-transform: uppercase;
				@include mediaMaxWidth(480px){
					font-size: 12px;
				}
			}
			form{
				.search{
					display: flex;
					justify-content: center;
					.submit {
						display: block;
					    background-color: white;
					    border: none;
					    width: 35px;
					    height: 35px;
					    outline: 0;
					}
					.input {
						display: block;
					    border: none;
					    height: 35px;
					    outline: 0;
					    padding-left: 5px;
					    color: #d66300;
					}
				}
			}
		}
	}
}




@-webkit-keyframes header_desktop {
    0%{
        // transform: translateY(-100%);
        margin-top: -149px;
    }
    100%{
        // transform: translateY(0);
        margin-top: 0;
    }
}

._visible-menu{
    transform: translateY(-100%) !important;
    transition: 1s;
    opacity: 0;
    transition: all 0.5s;
}
._hidden-menu{ 
    transform: translateY(0) !important;
    transition: 1s;
    opacity: 1;
    transition: all 0.5s;
}

._visible-social{
    transform: translateY(100%);
    transition: 1s;
    opacity: 0;
    transition: all 0.5s;
}
._hidden-social{ 
    transform: translateY(0);
    transition: 1s;
    opacity: 1;
    transition: all 0.5s;
}