.wrapper_account{
	padding-left: percentage(120 / 1440);
	padding-right: percentage(120 / 1440);
	padding-top: 74px;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Roboto', sans-serif;
	@include mediaMaxWidth(1024px){
		padding-left: 30px;
		padding-right: 30px;
	}
	@include mediaMaxWidth(480px){
		padding-left: 15px;
		padding-right: 15px;
	}
	.left{
		width: percentage(355 / 1200);
		color: #323232;
		@include mediaMaxWidth(480px){
			width: 100%;
			margin-bottom: 34px;
		}
		.text-title{
			font-size: 24px;
			margin-bottom: 34px;
			@include mediaMaxWidth(480px){
				margin-bottom: 25px;
			}
		}
		._item{
			font-size: 16px;
			display: flex;
			align-items: center;
			margin-bottom: 32px;
			cursor: pointer;
			@include mediaMaxWidth(480px){
				// font-size: 14px;
				margin-bottom: 20px;
			}
			img{
				padding-right: 11px;
				filter: grayscale(1);
			}
			&.js-active{
				color: #F5821F;
				font-weight: 700;
				img{
					filter: grayscale(0);
				}
			}
		}
	}
	.right{
		width: percentage(845 / 1200);
		padding-bottom: 45px;
		@include mediaMaxWidth(768px){
			padding-left: 30px;
		}
		@include mediaMaxWidth(480px){
			padding-left: 0px;
			width: 100%;
		}
		.tab-content{
			form{
				._title{
					color: #323232;
					font-size: 18px;
					font-family: 'Noto Sans TC', sans-serif;
					font-weight: 700;
					text-transform: uppercase;
					margin-bottom: 34px;
					@include mediaMaxWidth(480px){
						margin-bottom: 25px;
					}
				}
				._item{
					margin-bottom: 50px;
					@include mediaMaxWidth(480px){
						margin-bottom: 30px;
					}
					p{
						font-weight: 700;
						font-size: 13px;
						color: #676767;
						margin-bottom: 10px;
					}
					input{
						display: block;
						outline: 0;
						border: none;
						border-bottom: solid 1px #D1D1D1;
						width: 100%;
						font-weight: 500;
						font-size: 16px;
						padding-bottom: 7px;
						font-weight: 700;
						&::placeholder{
							color: #BFBFBF;
							font-weight: 500;
						}
					}
				}
				.wrap_item{
					overflow: hidden;
					._item{
						float: left;
						&:nth-child(1){
							width: calc((100% - 77px) / 2);
							margin-right: 77px;
							@include mediaMaxWidth(768px){
								width: calc((100% - 30px) / 2);
								margin-right: 30px;
							}
							@include mediaMaxWidth(480px){
								width: 100%;
								margin-right: 0;
							}
						} 
						&:nth-child(2){
							width: calc((100% - 77px) / 2);
							@include mediaMaxWidth(768px){
								width: calc((100% - 30px) / 2);
							}
							@include mediaMaxWidth(480px){
								width: 100%;
								margin-right: 0;
							}
						}
						&:nth-child(3){
							width: calc((100% - 77px) / 2);
							margin-right: 77px;
							@include mediaMaxWidth(768px){
								width: calc((100% - 30px) / 2);
								margin-right: 30px;
							}
							@include mediaMaxWidth(480px){
								width: 100%;
								margin-right: 0;
							}
						}
						&:nth-child(4){
							width: calc((100% - 77px) / 2);
							@include mediaMaxWidth(768px){
								width: calc((100% - 30px) / 2);
							}
							@include mediaMaxWidth(480px){
								width: 100%;
								margin-right: 0;
							}
						}
						&:nth-child(5){
							width: calc((100% - 77px) / 2);
							@include mediaMaxWidth(480px){
								width: 100%;
								margin-right: 0;
							}
						}
						&:nth-child(6){
							width: 100%;
						}
					}
				}
				.wrap-select{
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 60px;
					@include mediaMaxWidth(480px){
						margin-bottom: 34px;
					}
					._items{
						width: calc((100% - 110px) / 3);
						margin-right: 55px;
						@include mediaMaxWidth(768px){
							width: calc((100% - 60px) / 3);
							margin-right: 30px;
						}
						@include mediaMaxWidth(480px){
							width: 100%;
							margin-right: 0;
							margin-bottom: 30px;
						}
						p{
							font-weight: 700;
							font-size: 13px;
							color: #676767;
							margin-bottom: 10px;
						}
						select{
							display: block;
							width: 100%;
							border: none;
							border-bottom: solid 1px #D1D1D1;
							padding-bottom: 7px;
							font-weight: 700;
							outline: 0;
						}
						&:nth-of-type(3n){
							margin-right: 0;
						}
					}
				}
				.btn-label{
					outline: 0;
					border: none;
					color: #ffffff;
					height: 40px;
					width: 180px;
					display: block;
					border-radius: 25px;
					line-height: 40px;
					text-align: center;
					background: #F5821F;
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
					font-size: 15px;
					margin: auto;
				}
			}
		}
	}
}