.page-home{
    .section4{
        padding: 12px percentage(180/1440) 0  percentage(56/1440);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;background: url('../../../../assets/images/home-q/s4_bg.png'), #F5821F;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 610px;
        @media(max-width: 1024px){
            padding: 12px 30px 0;
        }
        @media(max-width: 768px){
            height: auto;
            padding: 60px 30px;
        }
        @media(max-width: 480px){
            padding: 30px 15px 50px;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }
        ._left{
            width: percentage(664/1204);
            position: relative;
            @media(max-width: 768px){
                width: 50%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -ms-flex-line-pack: center;
                    align-content: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }
            @media(max-width: 480px){
                width: 100%
            }
            img{
                position: absolute;
                // width: 100%;
                height: auto;
                -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
                left: 50%;
                @media(max-width: 768px){
                    position: relative;
                    width: 100%;
                }
            }
        }
        ._right{
            width: 100% - percentage(664/1204);
            padding-left: percentage(120/1204);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            color: #ffffff;
            @media(max-width: 1024px){
                padding-left: 30px;
            }        
            @media(max-width: 768px){
                width: 50%;
            }
            @media(max-width: 480px){
                width: 100%;
                padding-left: 0;
            }
            ._title{
                font-family: 'Noto Sans', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 50px;
                margin-bottom: 27px;
                @media(max-width: 480px){
                    margin-bottom: 10px;
                    font-size: 20px;
                    line-height: 28px;                
                }
            }
            ._text{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.457143px;
                @media(max-width: 480px){
                    text-align: justify;
                }
            }
            ._icon{
                margin-top: 45px;
                @media(max-width: 480px){
                    margin-top: 30px;
                }
                a{
                    &:nth-of-type(1){
                        img{
                            margin-right: 10px;
                            @media(max-width: 768px){
                                margin-right: 0;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .section5{
        margin-top: 150px;
        font-family: 'Noto Sans', sans-serif;
        color: #00172E;
        padding: 0 percentage(120/1440) 110px;
        @media(max-width: 1024px){
            padding: 0px 30px 80px;
        }
        @media(max-width: 768px){
            padding: 50px 30px;
            margin-top: 0;
        }
        @media(max-width: 480px){
            padding: 30px 15px;
        }
        ._title{
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            line-height: 50px;
            text-align: center;
            margin-bottom: 39px;
            @media(max-width: 480px){
                font-size: 20px;
                line-height: 38px;
                margin-bottom: 20px;        
            }
        }
        ._tab{
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 1.75px;
            text-transform: uppercase;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -ms-flex-line-pack: center;
                align-content: center;
            margin-bottom: 50px;
            @media(max-width: 480px){
                display: block;
                -webkit-column-count: 2;
                        column-count: 2;
                margin-bottom: 20px; 
                letter-spacing: 0.4px;       
            }
            li{
                padding: 10px 30px;
                border-radius: 40px;
                cursor: pointer;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
                display: inline-block;
                @media(max-width: 768px){
                    padding: 10px 15px;   
                    margin-bottom: 7px; 
                }
                @media(max-width: 480px){
                    padding: 6px 15px;   
                    margin-bottom: 7px; 
                }
                &.is_active{
                    background: #F5821F;
                    color: #ffffff;
                }
            }
        }

        ._slide{
            .swiper-container{
                height: 0;
                overflow: hidden;
                transform: translateY(120px) translateX(10px);
                transition: .4s;
                &.is_active{
                    height: auto;
                    transform: translateY(0px) translateX(0);
                }
                .swiper-slide{
                    &:hover{
                        ._content{
                            ._time{
                                color: #F5821F;
                                span{
                                    &::after{
                                        background: #F5821F;
                                    }
                                }
                            }
                        }
                    }
                    a{
                        text-decoration: none;
                    }
                    ._img{
                        width: 100%;
                        min-height: 180px;
                        background-position: center;
                        background-size: cover;
                        border-radius: 6px;
                    }
                    ._content{
                        font-family: 'Roboto', sans-serif;
                        color: #303234;
                        padding: 12px 0;
                        ._time{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: 1.5px;
                            mix-blend-mode: normal;
                            opacity: 0.7;
                            transition: all .4s ease;
                            span{
                                text-transform: uppercase;
                                padding: 17px;
                                position: relative;
                                &::after{
                                    position: absolute;
                                    content: "";
                                    width: 3px;
                                    height: 3px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: -1.5px;
                                    background: #6E6F70;
                                    border-radius: 50%;
                                    transition: all .4s ease;
                                }
                                &:first-child{
                                    padding-left: 0;
                                }
                                &:last-child{
                                    padding-right: 0;
                                    &::after{
                                        content: none;
                                    }
                                }
                            }
                        }
                        ._info{
                            font-family: 'Noto Sans', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 28px;
                            color: #00172E;
                            margin: 17px 0 14px;
                            @media(max-width: 480px){
                                font-size: 16px;
                                line-height: 25px;
                            }
                        }
                        ._text{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 28px;
                            letter-spacing: 0.5px;
                            opacity: 0.7;

                            max-height: 113px;
                            word-break: break-word;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            @media(max-width: 480px){
                                text-align: justify;
                            }
                        }
                    }
                }
            }
        }
    }
}

.__partner{
    margin-left: percentage(120/1440);
    margin-right: percentage(120/1440);
    margin-bottom: -108px;
    background: #ffffff;
    box-shadow: 2px 20px 35px rgba(0, 0, 0, 0.0540865);
    padding: 53px percentage(60/1200) 61px;
    z-index: 1;
    position: relative;
    @media(max-width: 1024px){
        margin-left: 30px;
        margin-right: 30px;
        padding: 53px 30px 61px;
    }
    @media(max-width: 1024px){
        margin-bottom: -120px;
    }
    @media(max-width: 480px){
        margin-left: 15px;
        margin-right: 15px;
        padding: 30px 15px 30px;
        margin-bottom: -125px;
    }
    ._title{
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        text-align: center;
        color: #191F25;
        margin-bottom: 32px;
        @media(max-width: 480px){
            margin-bottom: 20px;
            font-size: 20px; 
            line-height: 28px;
        }
    }
    .swiper-container{
        .swiper-slide{
            border: 1px solid rgba(25, 31, 37, .08);
            min-height: 95px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media(max-width: 480px){
                min-height: 75px;
            }
            img{
                @media(max-width: 480px){
                    max-width: 55%;
                }
            }
        }
    }
}