.page-home{
	.section1{
		position: relative;
		.slide-banner{
			position: relative;
			.swiper-slide{
				overflow: hidden;
				position: relative;
				._image{
					height: 100vh;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					position: relative;
					animation: imageScaleAnimation 30s infinite ease;
					@include mediaMaxWidth(768px){
						height: 65vh
					}
				}
				.text-banner{
					position: absolute;
					text-align: right;
					right: 120px;
					bottom: 130px;
					padding-right: 28px;
					border-right: solid 1px #F5821F;
				    transition: 1s;
				    transition-delay: 0.5s;
				    opacity: 0;
				    transform: translateX(-230px);
					@include mediaMaxWidth(1024px){
						right: 30px;
					}
					@include mediaMaxWidth(480px){
						right: 15px;
						left: 15px;
						padding-right: 0;
						border: none;
					}
					.sub-title{
						font-family: 'Noto Sans', sans-serif;
						font-weight: bold;
						color: #fff;
						font-size: 13px;
						letter-spacing: 3px;
						text-transform: uppercase;
					}
					.title{
						font-family: 'Noto Sans', sans-serif;
						font-weight: bold;
						font-size: 36px;
						color: #fff;
						letter-spacing: 2px;
						@include mediaMaxWidth(480px){
							font-size: 20px;
							position: relative;
							margin-bottom: 15px;
							&:after{
							    content: "";
							    position: absolute;
							    bottom: -4px;
							    right: 2px;
							    height: 2px;
							    width: 20%;
							    background-color: #F5821F;
							}
						}
					}
					.content{
						font-family: 'Roboto', sans-serif;
						font-size: 15px;
						color: #fff;
						opacity: 0.85;
						width: 507px;
						@include mediaMaxWidth(480px){
							width: auto;
						}
					}
				}	
			}
			.swiper-slide-active{
				._image{
				}
				.text-banner{
					opacity: 1;
					transform: translateX(0);
				}
			}
			.s1-pagination{
				.swiper-pagination{
				    bottom: 30px;
				    left: 50%;
				    transform: translateX(-50%);
				    display: flex;
				    align-items: center;
				    .swiper-pagination-bullet{
				    	opacity: 1;
				    	background: rgba(0, 0, 0, 0);
				    	width: 10px;
				    	height: 10px;
				    	transition: 0.3s;
				    	border: 2px solid #FFFFFF;
				    	border-radius: 0;
				    	margin-left: 5px;
				    	margin-right: 5px;
				    	outline: 0;
				    }
				    .swiper-pagination-bullet-active{
						width: 14px;
				    	height: 14px;
				    	border: 3px solid #F5821F;
				    }
				}
			}
		}
		.billing{
			position: absolute;
			width: 360px;
			left: 120px;
			bottom: 150px;
			background: #F5821F;
			// padding-right: 23px;
			padding-top: 23px;
			z-index: 20;
			@include mediaMaxWidth(1024px){
				bottom: 80px;
				left: 30px;
			}
			@include mediaMaxWidth(768px){
				position: relative;
				width: auto;
				bottom: auto;
				left: auto;
				padding-top: 35px;
			}
			form{
				.title{
					color: #fff;
					text-transform: uppercase;
					font-size: 14px;
					letter-spacing: 1px;
					font-family: 'Noto Sans', sans-serif;
					font-weight: bold;
					margin-bottom: 14px;
					padding-left: 23px;
					span{
						padding-right: 8px;
						img{
						    transform: translateY(-6px);
						}
					}
				}
				.search{
					padding-left: 23px;
					display: flex;
					flex-wrap: wrap;
					@include mediaMaxWidth(768px){
						padding-left: 30px;
						padding-right: 30px;
					}
					@include mediaMaxWidth(768px){
						padding-left: 15px;
						padding-right: 15px;
					}
					input.input {
					    width: 271px;
					    background: #fff;
					    border: none;
					    height: 50px;
					    display: block;
					    outline: 0;
					    padding-left: 15px;
					    color: #F5821F;
						@include mediaMaxWidth(768px){
							width: calc(100% - 50px);
						}
						@include mediaMaxWidth(480px){
					    	height: 30px;
					    }
					}
					button.submit {
					    background: #FFAF5D;
					    border: none;
					    width: 50px;
					    height: 50px;
					    display: block;
					    @include mediaMaxWidth(480px){
					    	height: 30px;
					    }
					}
				}
				.content {
				    background-color: #fff;
				    margin-top: 23px;
				    padding-bottom: 75px;
				    @include mediaMaxWidth(480px){
				    	padding-bottom: 20px;
				    }
				    .item {
					    display: block;
					    text-decoration: none;
					    color: #191F25;
					    padding-left: 33px;
					    padding-top: 10px;
					    padding-bottom: 10px;
					    text-transform: uppercase;
					    font-family: 'Noto Sans', sans-serif;
						font-weight: bold;
					    display: flex;
					    align-items: center;
					    position: relative;
					    overflow: hidden;
					    transition: 0.3s;
					    font-size: 14px;
					    &:after{
					    	content: "";
					    	position: absolute;
					    	bottom: 0;
					    	left: 0;
					    	width: 100%;
							height: 1px;
							background-color: rgba(0, 0, 0, 0.15);
					    }
					    &:before{
					    	content: "";
					    	position: absolute;
					    	bottom: 0;
					    	left: 0;
							height: 1px;
							background-color: #f5821f;
							z-index: 2;
							transition: 0.3s;
							width: 0px;
							// opacity: 0;
					    }
					    .icon-item {
						    width: 34px;
						    text-align: center;
							margin-right: 10px;
						}
						&:hover{
							color: #f5821f;
							&:after{
								// display: none;
							}
							&:before{
								width: 360px;
								opacity: 1;
							}
						}
					}
				}
				.support{
					background-color: #fff;
					padding-right: 20px;
					padding-left: 20px;
					display: flex;
					padding-bottom: 20px;
					@include mediaMaxWidth(320px){
						padding-left: 15px;
						padding-right: 15px;
					}
					a{
						text-decoration: none;
						color: #00172E;
						letter-spacing: 0.4px;
						font-size: 13px;
						font-family: 'Noto Sans', sans-serif;
						text-transform: uppercase;
						&:hover{
							color: #F5821F;
						}
						&:nth-child(1){
							padding-right: 25px;
						    border-right: solid 1px rgba(0, 23, 46, 0.25);
						    @include mediaMaxWidth(320px){
								padding-right: 10px;
							}
						}
						&:nth-child(2){
							padding-left: 25px;
							@include mediaMaxWidth(320px){
								padding-left: 10px;
							}
						}
					}
				}
			}
		}
	}
	.section2{
		.container-s2{
			padding: 130px 120px;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			@include mediaMaxWidth(1024px){
				padding: 30px;
			}
			@include mediaMaxWidth(480px){
				padding-left: 15px;
				padding-right: 15px;
			}
			&:after {
			    content: "";
			    position: absolute;
			    top: 0;
			    left: 50%;
			    width: 50%;
			    height: 100%;
			    transition: 1s;
			    background-color: #f5821f;
			    z-index: -1;
			    // transition-delay: 1s;
			    @include mediaMaxWidth(1024px){
			    	display: none;
			    }
			}
			&.remo-active{
				&:after{
					left: 100%;
				}
			}
			._left{
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-right: 120px;
				@include mediaMaxWidth(1024px){
					padding-right: 40px;
				}
				@include mediaMaxWidth(480px){
					width: 100%;
					padding-right: 0;
					margin-bottom: 50px;
				}
				.wrap{
					.title{
						color: #191F25;
						font-family: 'Noto Sans', sans-serif;
						font-weight: bold;
						font-size: 36px;
						margin-bottom: 35px;
						@include mediaMaxWidth(480px){
							font-size: 20px;
							margin-bottom: 15px;
						}
					}
					.text-title{
						color: #191F25;
						letter-spacing: 0.5px;
						opacity: 0.7;
						font-family: 'Roboto', sans-serif;
						line-height: 28px;
						margin-bottom: 40px;
						font-size: 14px;
						@include mediaMaxWidth(480px){
							margin-bottom: 15px;
						}
					}
					.more{
						font-family: 'Noto Sans', sans-serif;
						font-weight: bold;
						text-transform: uppercase;
						text-decoration: none;
						color: #fff;
						display: block;
						width: 240px;
						height: 50px;
						line-height: 50px;
						text-align: center;
						border-radius: 40px;
						position: relative;
						overflow: hidden;
						font-size: 14px;
						letter-spacing: 1.575px;
						@include mediaMaxWidth(480px){
						    height: 36px;
						    line-height: 36px;
						    width: 155px;
						    border-radius: 10px;
						}
						&:after{
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							background: #F5821F;
							width: 100%;
							height: 100%;
							z-index: -2;
						}
						&:before{
							content: "";
							position: absolute;
							top: 0;
							left: 50%;
							transform: translateX(-50%);
							height: 50px;
							width: 10px;
						    background-color: rgba(255, 255, 255, 0.2);
							z-index: -1;
							opacity: 0;
							transition: 0.3s;
						}
						&:hover{
							&:before{
								width: 240px;
								opacity: 1;
							}
						}
						span{
							padding-left: 10px;

						}
					}
				}
			}
			._right{
				width: 50%;
				display: flex;
				flex-wrap: wrap;
				@include mediaMaxWidth(480px){
					width: 100%;
				}
				.item{
					display: block;
					text-decoration: none;
					width: calc((100% - 20px) / 2);
					// margin-right: 20px;
					// margin-bottom: 34px;
					// padding-right: 20px;
					padding: 20px;
					transition: 0.3s;
					position: relative;
					@include mediaMaxWidth(480px){
						padding-right: 0;
					}
					&:after{
						content: "";
						position: absolute;
						bottom: 0;
						left: 20px;
						width: 0px;
						height: 1px;
						background-color: #f5821f;
						transition: 0.3s;
					}
					&:hover{
				        // box-shadow: 0px 0px 1px 0px #f5821f;
				        &:after{
							left: 20px;
							width: calc(100% - 40px);
						}
				        ._icon{
				        	img{
				        		-webkit-animation-name: social_rotate;
                                animation-name: social_rotate;
	                            -webkit-animation-duration: 0.5s;
                                animation-duration: 0.5s;
	                            -webkit-animation-iteration-count: 1;
                                animation-iteration-count: 1;
				        	}
				        }
					}
					&:nth-of-type(2n){
						margin-right: 0;
					}
					._icon{
					    margin-bottom: 21px;
					    height: 55px;
					    display: flex;
					    align-items: flex-end;					}
					.title{
						font-family: 'Noto Sans', sans-serif;
						font-weight: bold;
						font-size: 14px;
						margin-bottom: 10px;
						color: #191F25;
					}
					.content{
						font-family: 'Roboto', sans-serif;
						opacity: 0.7;
						color: #191F25;
						letter-spacing: 0.4375px;
						font-size: 14px;
						line-height: 24px;
						@include mediaMaxWidth(480px){
							text-align: justify;
						}
					}
				}
			}
		}
	}
	.section3{
		padding-right: 120px;
		padding-left: 120px;
		padding-top: 105px;
		padding-bottom: 105px;
		background: #F9FAFA;
		position: relative;
		@include mediaMaxWidth(1024px){
			padding-left: 30px;
			padding-right: 30px;
		}
		@include mediaMaxWidth(480px){
			padding: 45px 15px;
		}
		.title-s3{
			font-family: 'Noto Sans', sans-serif;
			font-weight: bold;
			font-size: 30px;
			margin-bottom: 25px;
			color: #00172E;
			@include mediaMaxWidth(480px){
				font-size: 20px;
			}
		}
		.slide-s3{
			position: relative;
			.more-slide{
				text-decoration: none;
				position: absolute;
				top: -40px;
				right: 0;
				z-index: 50;
				color: #484848;
				display: block;
				font-size: 14px;
				font-family: 'Noto Sans', sans-serif;
				font-weight: bold;
				text-transform: uppercase;
				&:hover{
					color: #F5821F;
				}
				span{
					padding-left: 10px;
				}
			}
			.item{
				._img{
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;
					position: relative;
					padding-top: percentage(375.5 / 279);
					margin-bottom: 15px;
					// @include mediaMaxWidth(1024px){
					// 	margin-bottom: 60px;
					// }
					&:after {
					    content: "";
					    position: absolute;
					    top: 45px;
					    left: 45px;
					    right: 45px;
					    bottom: 45px;
					    border: solid 1px #F5821F;
					    transition: 0.3s;
					    opacity: 0;
					    z-index: 50;
					}
				}
				._text-item{
					color: #191F25;
					line-height: 26px;
					font-size: 18px;
					letter-spacing: 0.3px;
					font-size: 18px;
					font-family: 'Noto Sans', sans-serif;
					font-weight: bold;
					margin-bottom: 15px;
				}
				._time-item{
					color: #303234;
					font-family: 'Roboto', sans-serif;
					font-size: 12px;
					text-transform: uppercase;
					opacity: 0.7;
					letter-spacing: 1.5px;
					transition: 0.3s;
				}
				&:hover{
					._img{
						&:after{
							opacity: 1;
							top: 20px;
						    left: 20px;
						    right: 20px;
						    bottom: 20px;
						}
					}
					._text-item{
						color: #F5821F;
						opacity: 1;
					}
				}
			}
		}
		.s3-pagination{
			.swiper-pagination{
			    bottom: 30px;
			    left: 50%;
			    transform: translateX(-50%);
			    display: flex;
			    align-items: center;
			    @include mediaMaxWidth(480px){
			    	bottom: 15px;
			    }
			    .swiper-pagination-bullet{
			    	opacity: 1;
			    	background: rgb(253, 218, 177);
			    	width: 10px;
			    	height: 10px;
			    	transition: 0.3s;
			    	border: 2px solid #FFFFFF;
			    	border-radius: 0;
			    	margin-left: 5px;
			    	margin-right: 5px;
			    	outline: 0;
			    }
			    .swiper-pagination-bullet-active{
					width: 14px;
			    	height: 14px;
			    	border: 3px solid #F5821F;
			    }
			}
		}
	}
}
@-webkit-keyframes imageScaleAnimation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@-moz-keyframes imageScaleAnimation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes imageScaleAnimation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}