.header-sub{
	padding-left: percentage(120 / 1440);
	padding-right: percentage(120 / 1440);
	height: 79px;
	display: flex;
	align-items: center;
	box-shadow: 0px 4px 4px rgba(217, 217, 217, 0.25);
	justify-content: space-between;
	@include mediaMaxWidth(1024px){
		padding-left: 30px;
		padding-right: 30px;
	}
	@include mediaMaxWidth(480px){
		padding-left: 15px;
		padding-right: 15px;
	}
	> a{
		display: block;
		text-decoration: none;
		img{
			display: block;
			width: 180px;
			height: auto;
			@include mediaMaxWidth(480px){
				width: 120px;
			}
		}
	}
	> ul{
		list-style-type: none;
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;
		font-family: 'Noto Sans TC', sans-serif;
		li{
			position: relative;
			&:nth-child(1){
				padding-right: 12px;
			}
			> a{
				text-decoration: none;
				color: #595959;
				font-weight: 700;
				font-size: 16px;
				@include mediaMaxWidth(480px){
					font-size: 14px;
				}
				img{
					padding-right: 5px;
				}
			}
			.dropdown-menu{
			    left: 50%;
    			transform: translateX(-50%);
    			@include mediaMaxWidth(480px){
    				left: auto;
				    right: 0;
				    transform: translateX(0);
    			}
				a{
					display: block;
					text-decoration: none;
					color: black;
					text-align: center;
					transition: 0.3s;
					&:hover{
						background-color: #F5821F;
						color: #fff;
					}
				}
			}
		}
	}
}
.wrapper_container{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	padding-top: 26px;
	.wrap{
		max-width: 480px;
		background: #ffffff;
		margin: auto;
		overflow: hidden;
		font-family: 'Noto Sans TC', sans-serif;
		padding-bottom: 26px;
		@include mediaMaxWidth(480px){
			max-width: initial;
		    margin-left: 15px;
		    margin-right: 15px;
		    border-radius: 7px;
		}
		.wrap_title{
			text-align: center;
			font-family: 'Noto Sans TC', sans-serif;
			font-size: 20px;
			color: #2D2D2D;
			height: 54px;
			line-height: 54px;
			border-bottom: 1px solid #E6E6E6;
		}
		form{
			text-align: center;
			font-size: 15px;
			._item{
				color: #2D2D2D;
				font-size: 15px;
				padding-left: 20px;
				padding-right: 20px;
				margin-top: 22px;
				p{
					font-family: 'Noto Sans TC', sans-serif;
					margin-bottom: 7px;
					text-align: left;
					color: #2D2D2D;
				}
				.wrap_input{
					position: relative;
					input{
						display: block;
						width: 100%;
						height: 44px;
						border: 1px solid #C9C9C9;
						outline: 0;
						padding-left: 12px;
						padding-right: 12px;
					}
					.view-password{
						position: absolute;
						top: 50%;
						right: 17px;
						transform: translateY(-50%);
					    filter: grayscale(1);
						img{
							display: block;
							width: 24px;
							height: auto;
						}
						&.js-view{
							filter: grayscale(0);
						}
					}
				}
			}
			.login-btn{
				margin-top: 27px;
				margin-bottom: 12px;
				.btn-label{
					display: block;
					height: 42px;
					width: 236px;
					color: #ffffff;
					text-decoration: none;
					text-transform: uppercase;
					border: none;
					border-radius: 25px;
					background: #F5821F;
					text-align: center;
					line-height: 42px;
					outline: 0;
					font-size: 13px;
					font-weight: 700;
					margin: auto;
				}
				&.face{
					.btn-label{
						background: #68A0F5;
					}
				}
				&.google{
					margin-top: 16px;
					margin-bottom: 26px;
					.btn-label{
						background: #DC4E41;
					}
				}
			}
			.forget_password{
				margin-bottom: 30px;
				a{
					margin: auto;
					position: relative;
					// text-decoration: none;
					color: #F5821F;
					// border-bottom: solid 1px #F5821F;
				}
			}
			.or-api-social{
				.or-title{
					position: relative;
					width: -moz-max-content;
				    width: -webkit-max-content;
				    width: -o-max-content;
				    margin: auto;
				    padding-left: 20px;
				    padding-right: 20px;
				    &:after{
				    	content: "";
				    	position: absolute;
				    	width: 240px;
				    	height: 1px;
				    	left: 100%;
				    	top: 50%;
				    	transform: translateY(-50%);
				    	background-color: #E6E6E6;
				    }
				    &:before{
				    	content: "";
				    	position: absolute;
				    	width: 240px;
				    	height: 1px;
				    	right: 100%;
				    	top: 50%;
				    	transform: translateY(-50%);
				    	background-color: #E6E6E6;
				    }
				}
			}


			.registration{
				a{
					color: #F5821F;
					font-weight: 700;
				}
			}
		}
	}
}